In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("car_evaluation.csv")
data.tail(10)

     buy_price maint_cost  doors person boot_space safety  class
1718       low        low  5more      4        big   high  vgood
1719       low        low  5more   more      small    low  unacc
1720       low        low  5more   more      small    med    acc
1721       low        low  5more   more      small   high   good
1722       low        low  5more   more        med    low  unacc
1723       low        low  5more   more        med    med   good
1724       low        low  5more   more        med   high  vgood
1725       low        low  5more   more        big    low  unacc
1726       low        low  5more   more        big    med   good
1727       low        low  5more   more        big   high  vgood

In [5]:
data.shape

(1728, 7)

In [6]:
max_value=data['doors'].max()
print(max_value)
min_value=data['doors'].min()
print(min_value)

5more
2

In [7]:
max_value=data['person'].max()
print(max_value)
min_value=data['person'].min()
print(min_value)

more
2

In [8]:
from sklearn.preprocessing import LabelEncoder
for col in data.columns [:-1]:
    le=LabelEncoder()
    data[col]=le.fit_transform(data[col])
data

      buy_price  maint_cost  doors  person  boot_space  safety  class
0             3           3      0       0           2       1  unacc
1             3           3      0       0           2       2  unacc
2             3           3      0       0           2       0  unacc
3             3           3      0       0           1       1  unacc
4             3           3      0       0           1       2  unacc
...         ...         ...    ...     ...         ...     ...    ...
1723          1           1      3       2           1       2   good
1724          1           1      3       2           1       0  vgood
1725          1           1      3       2           0       1  unacc
1726          1           1      3       2           0       2   good
1727          1           1      3       2           0       0  vgood

[1728 rows x 7 columns]

In [9]:
data.isna().sum()

buy_price     0
maint_cost    0
doors         0
person        0
boot_space    0
safety        0
class         0
dtype: int64

In [10]:
max_value=data['doors'].max()
print(max_value)
min_value=data['doors'].min()
print(min_value)

3
0

In [11]:
max_value=data['person'].max()
print(max_value)
min_value=data['person'].min()
print(min_value)

2
0

In [12]:
data['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [13]:
max_value=data['person'].max()
print(max_value)
min_value=data['person'].min()
print(min_value)

2
0

In [14]:
max_value=data['boot_space'].max()
print(max_value)
min_value=data['boot_space'].min()
print(min_value)

2
0

In [15]:
data.columns

Index(['buy_price', 'maint_cost', 'doors', 'person', 'boot_space', 'safety',
       'class'],
      dtype='object')

In [16]:
X=data[['buy_price', 'maint_cost', 'doors', 'person', 'boot_space', 'safety']]
y=data[['class']]

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [18]:
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [19]:
best_accuracy=0
best_n_components=0

In [20]:
for n_components in range(2,6):
    pca=PCA(n_components=n_components)
    X_train_pca=pca.fit_transform(X_train)
    X_test_pca=pca.transform(X_test)
    
    clf=RandomForestClassifier(random_state=42)
    clf.fit(X_train_pca,y_train)
    
    y_pred=clf.predict(X_test_pca)
    accuracy=accuracy_score(y_test,y_pred)
    
    print(f"Number of PCA components:{n_components},Accuracy:{accuracy}")
    
    if accuracy>best_accuracy:
        best_accuracy=accuracy
        best_n_components=n_components
print(f"Best number of PCA components:{best_n_components}, Best_accuracy:{best_accuracy}")

C:\Users\bhagy\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Number of PCA components:2,Accuracy:0.6184971098265896

C:\Users\bhagy\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Number of PCA components:3,Accuracy:0.6319845857418112

C:\Users\bhagy\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Number of PCA components:4,Accuracy:0.7707129094412332

C:\Users\bhagy\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Number of PCA components:5,Accuracy:0.7707129094412332
Best number of PCA components:4, Best_accuracy:0.7707129094412332